.vscode/
.yarn/
node_modules/
src/
tests/
dist/*.map
esbuild.js
tsconfig.json
vitest.config.mts
.yarnrc.yml
yarn.lock
CLAUDE.md
CONTRIBUTING.md
CHANGELOG.md
.gitignore
.nvmrc
*.vsix
.github/
.githooks/
commitlint.config.mjs
.releaserc.json
